h1 
{
    margin-bottom: 15px;
    text-align: center;
    color: #ff4532;
    font-size: 50px;
}
body
{
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 0;
    padding: 0;
}

* 
{
    box-sizing: border-box;
}
.s1
{
    background-color: #FFB6C1;
}
  
.s2
{
    color: white;
    background-color: #FF0000;
}
.s3
{
    background-color: #FFFF00;
}
.row
{
    margin-top: 5%;
    margin-bottom: 5%;
}
.box
{
    width: 100%;
    overflow: none;
}
.a
{
    padding: 5px;
    float: right;
    margin-right: 36px;
    text-align: center;
    border: 4px solid black;
    width: 100px;
    height: 40px;
    margin-top: 0px;
    font-weight: bold;
    position: relative;
    overflow: none;
}
  
.in
{
    padding: 2%;
    padding-top: 55px;
    background-color: rgba(0,0,0,0.3);
    border: 5px solid black;
    color: black
    font-size: 25px;
    width: 90%;
    height: auto;
    margin: 2.5%;
}
/*lap*/
  @media (min-width: 992px) {
    .col-lg-4 {
        float: left;
      width: 33.33%;
    }
  }
  /*tab*/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6,.col-md-12 {
      float: left;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-12 {
      margin-left: -10px;
      width: 100%;
    }
    .name3{
      margin-right: 65px;
      width: 100px;
    }
  }
  /*phone*/
  @media (min-width: 0px) and (max-width: 767px) {
    .col-sm-12 {
        float: left;
      width: 100%;
    }
    .content-name{
      margin-right: 30px;
    }
  }